fieldset {
  border: none;
}

legend {
  display: flex;
  gap: .8rem;
  font: var(--heading-sm);
  color: var(--text-heading);

  & img {
    width: 1.5rem;
    height: 1.5rem;
  }

}




.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: .75rem;

  & label {
    font: var(--body-sm);
    color: var(--text-body);
  }

  & input {
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    width: 100%;
    padding: 1rem;
    font: var(--body-md);
    color: var(--input-placeholder);
    border-radius: .5rem;

  }


}

.radio-inner {
  border: 1px solid var(--input-stroke);
  border-radius: .5rem;
  display: flex;
  align-items: center;
  padding: .25rem;
  background-color: var(--input-base);

  

  & input[type=radio] {
    display: none;
  }




  & .radio-btn {
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: .5rem;
    gap: .5rem;
    padding: 0.65rem;
    width: 50%;

    color: var(--text-body);
    font: var(--body-sm) ;

  }
}

.radio-btn:hover,
.radio-btn:focus-within,
.radio-btn:has(:checked) {

  background-color: var(--shape-hover);

  & .build-icon path,
  & .webcam-icon path {
    fill: var(--brand-light);
  }

  & input:has(:checked ){
    background-color: var(--shape-hover);
      fill: var(--brand-light);
    
  

}

}
