fieldset {
  border: none;
  margin-bottom: 3rem;
  
  min-width: min-content;
}

legend {
  display: flex;
  gap: .8rem;
  font: var(--heading-sm);
  color: var(--text-heading);

  & img {
    width: 1.5rem;
    height: 1.5rem;
  }

}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: .75rem;

  & label {
    font: var(--body-sm);
    color: var(--text-body);
  }

  & input {
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    width: 100%;
    padding: 1rem;
    font: var(--body-md);
    color: var(--input-placeholder);
    border-radius: .5rem;
    position: relative;
  }


}
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  appearance: none;
  background: transparent;
  position: absolute;
  width: 10%;
  right: 58%;



}

input {
  &[required] + .error {
    display: flex;
    gap: .4rem;
    font: var(--body-xm) ;
    color: var(--danger) ;

    & img {
      width: 1rem;
      height: 1rem;
    }

  }

  &:not(:focus) + .error {
    display: none;
  }

  &:invalid {
    border: 1px solid var(--danger);
  }

}

.contacts-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;

  & .input-wrapper {
    width: 100%;
    
  }
}